<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CompoundControllerView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>CompoundControllerView.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CompoundControllerViewMac.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>CompoundControllerViewMac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CompoundControllerViewMacTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CompoundControllerViewTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06CA2B2A4BE5F777D39A8BC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>078224685129A079B0E0EDDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>989AB2FF0FED608A3BDBAEC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E93C0BB9BDC4A7B1C7745BBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
